label {
    justify-content: center;
    padding: 1.2rem !important;
}

select {
    display: flex !important;
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    height: 2rem !important;
    text-align: center;
    justify-content: center;
    width: -moz-available !important;
    -moz-appearance: none;
    appearance: none;
}

select:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
}

.asteriskField {
    color: #ff0000;
}

.django-ckeditor-widget {
    width: 100% !important;
}

.button-block {
    text-align: center;
}

.newbuilding-btn {
    margin-top: 1.5rem !important;
    background-color: var(--primary-bg-color) !important;
    color: inherit !important;
    border: 0.2rem outset gray !important;
    border-radius: 0.66rem !important;
}

fieldset {
    border-radius: 0.66rem;
    margin-top: 1.8rem !important;
    border: 0.2rem outset grey;

    input {
        color: var(--primary-color) !important;
        padding: 0 1.5rem !important;
        border-bottom: none !important;
        box-shadow: none !important;
        box-sizing: border-box !important;
    }

    input[type=text]:not(.browser-default), input[type=url]:not(.browser-default), input[type=number]:not(.browser-default) {
        height: 1.5rem !important;
    }

    input::placeholder {
        opacity: 0.5;
        font-weight: bold;
    }
}

.bio-fieldset {
    border-width: 0.2rem 0 0 0;
}

legend {
    padding: 0 0.5rem !important;
    text-align: left !important;
    font-weight: 900;
}
// input[type=text]:not(.browser-default):focus:not([readonly]) {
//     display: none;
// }


// .project-picture {
//     top: -30px;
//     margin-bottom: 10px;
//   }
  
// .no-project-picture {
//     width: 100% !important;
// }

// .change-picture {
//     display: none;
// }
  
// .change-picture-button {
//     margin-bottom: 2%;
// }
  