.contacts-column {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 25px;

    .contacts-column-aside {
        flex-shrink: 0;
        width: 400px;
        padding-left: 24px;
        order: 2;
        position: relative;

        .contacts-main {
            position: sticky;
            top: 55px;

            .contacts {
                border-radius: 25px;

                .contacts-content {
                    padding: 20px;
                    background-color: rgba(0, 0, 0, 0.4);
                    backdrop-filter: blur(55px) !important;
                    color: #fff;

                    .contacts-content-body {
                        color: #fff;

                        .contacts-header {
                            display: flex;
                            align-items: flex-start;
                            width: 100%;
                            margin-bottom: 8px;
                            justify-content: space-between;

                            #deleteNBForm {
                                margin-bottom: 25px !important;
                            }

                            #editNBForm {
                                margin-bottom: 25px !important;
                            }
                        }

                        .contacts-main-address {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 22px;
                            letter-spacing: .2px;

                            .address {
                                margin-top: -4%;
                                color: #fff;
                            }
                        }
                    }

                    .contacts-details {
                        color: #fff;

                        .sales-center-content {
                            display: flex;
                            justify-content: space-between;
                            margin: 0 0 8px;

                            .contacts-avatar {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-shrink: 0;
                                margin-right: 10px;
                                padding: inherit;
                            }

                            .contacts-working-hours {
                                display: flex;
                                flex: 1;
                                justify-content: space-between;

                                .contacts-working-hours-caption {
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 13px;
                                    line-height: 22px;
                                    letter-spacing: .2px;
                                    max-width: 92px;
                                    margin: 3px 0;
                                }

                                .contacts-working-hours-shedule {
                                    margin-right: 18px;
                                    margin-left: 8px;

                                    .hours-placeholder {
                                        white-space: nowrap;
                                        padding: 0;

                                        td + td {
                                            padding-left: 10px;
                                        }
                                    }

                                    .hours-placeholder-caption {
                                        text-align: right;
                                    }
                                }

                            }
                        }

                        .contacts-notes {
                            margin-bottom: 10px;
                            margin-top: 2px;
                        }

                        .contacts-actions {
                            margin-top: -4px;
                            margin-bottom: -4px;

                            .contacts-actions-row {
                                display: flex;
                                margin: 0 -4px;

                                .contacts-action {
                                    flex: 1;
                                    flex-shrink: 1;
                                    padding: 4px;
                                    flex-shrink: 0;
                                    overflow: hidden;
                                    text-overflow: ellipsis;

                                    .contacts-phone-button {
                                        width: 100%;
                                        justify-content: center;
                                        border-radius: 8px;
                                        display: inline-flex;
                                        align-items: center;
                                        cursor: pointer;
                                        overflow: hidden;
                                        background: none;
                                        border: none;
                                        text-decoration: none;
                                        padding: 0 20px;
                                        height: 48px;
                                        min-width: 48px;
                                        position: relative;
                                        font-family: Roboto;
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 15px;
                                        line-height: 22px;
                                        letter-spacing: .2px;
                                        transition: all .25s ease-out;
                                        background: #000;
                                        color: #fff;
                                    }

                                    .contacts-icon {
                                        margin-right: 8px;
                                        flex-shrink: 0;
                                        display: -webkit-flex;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        pointer-events: none;
                                        color: currentColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .action-buttons {
                justify-content: space-between;
                display: flex;
            }
        }
    }

    .contacts-column-main {
        width: calc(100% - 400px);
        flex-shrink: 0;
        order: 1;
        position: relative;

        .project-gallery {
            position: relative;
            user-select: none;
            overflow: hidden;
            border-radius: 25px;

            .gallery-view {
                display: flex;
                position: relative;
                height: 100%;
                transition: transform 0.5s ease-in-out;

                .slider-item {
                    flex: 0 0 100%;
                    text-align: center;

                    .project-image {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-style: none;
                    }
                }
            }

            .prev, .next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                padding: 10px;
                border: none;
                font-size: 20px;
                cursor: pointer;
            }
    
            .prev {
                left: 10px;
            }
    
            .next {
                right: 10px;
            }
        }
    }
}

.project-prices-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-prices-developer {
    display: flex;
    align-items: center;
    padding: 8px 30px;
    margin-bottom: 20px;
    min-height: 66px;
    color: #fff;
    background: #000;
    border-radius: 8px;

    .project-prices-developer-content {
        display: flex;
        align-items: center;

        .project-prices-developer-title {
            display: flex;
            align-items: center;
            
            .caption {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                align-self: flex-start;
                margin-right: 10px;
                line-height: 24px;

            }

            .project-prices-developer-name {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 6px 10px;
                font-weight: bold;
                font-size: 18px;
                line-height: 24px;

                a {
                    text-decoration: underline;
                }
            }
        }
    }
}

.project-prices-table td {
    background-color: #000;
    border-bottom: 1px solid #fff;
}


@media (max-width: 1024px) {
    .contacts-column {
        flex-direction: column;

        .contacts-column-aside {
            width: 100%;
            padding-left: 0;
            order: 2;

            .contacts-main-address {
                font-size: 14px;

                .address {
                    margin-top: -2% !important;
                }
            }

            .contacts-avatar {
                margin-top: 0px !important;
            }
        }

        .contacts-column-main {
            flex-shrink: 0;
            position: relative;
            width: 100% !important;
            order: 1;

            .gallery-view {
                min-height: 250px;
        
                .slider-item {
                    min-width: 100%;
                    margin-bottom: 20px;
        
                    .project-image {
                        height: auto;
                    }
                }
            }
            .prev, .next {
                padding: 8px;
                font-size: 18px;
            }
        }
    }
}

input {
    color: #fff !important;
}

select {
    display: flex !important;
    background-color: transparent;
    border: none;
    color: #fff;
    text-align: center;
    justify-content: center;
    width: -moz-available !important;
}