{% extends 'content.html' %}
{% load i18n %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/newbuilding_form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block body %}
<div class="container">
    <div class="section">
        <div class="container center">
            <div class="row center">
                {{ form.media }}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name == 'bio' %}
                            <fieldset class="bio-fieldset">
                                <legend>{{ field.label }}</legend>
                            </fieldset>
                            {{ field|safe }}
                        {% else %}
                            <fieldset>
                                <legend>{{ field.label }}</legend>
                                {{ field|safe }}
                            </fieldset>
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn waves-effect waves-light submit-button newbuilding-btn">
                        {% trans "Create" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}